@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    h1 {
      @apply text-3xl;
      @apply sm:text-4xl;
      @apply lg:text-6xl;
      @apply xl:text-7xl;

      @apply text-center;
      @apply font-[InriaBold];
      /* @apply text-nowrap; */
    }
    h2 {
      @apply text-3xl;
      @apply sm:text-4xl;
      @apply lg:text-5xl;
      @apply xl:text-6xl;
      @apply font-[InriaBold];
    }
    h3 {
      @apply text-lg;
      @apply sm:text-xl;
      @apply lg:text-2xl;
      @apply xl:text-3xl;
      @apply font-[InriaBold];
    }
    h4 {
      @apply sm:text-lg;
      @apply lg:text-xl;
      @apply xl:text-2xl;
    }
    img {
      @apply rounded-[3rem];
      @apply object-contain;
    }

    .serif {
      /* Set fonts for name & title */
      @apply font-serif;
    }

    .logo {
      /* Ensure logo doesn't span too large on landscape mobile */
      @apply max-w-[360px];
      @apply lg:max-w-[500px];
    }

    .primary {
      @apply text-offblack-500;
    }

    .all-uppercase {
      @apply uppercase;
    }

    .subtext {
      @apply text-goldish-500;
      @apply text-lg;
    }

    hr {
      border-color: currentColor;
      @apply text-goldish-500;
      @apply h-px;
      @apply w-full;
    }

    .vr {
      @apply bg-goldish-500;
      @apply w-px;
    }

    .small,
    .note {
      @apply text-sm;
    }

    .medium {
      @apply text-xl;
    }

    .prices {
      @apply uppercase;
      @apply tracking-widest;
      @apply font-bold;
      @apply text-sm;
    }

    .TODO {
      @apply text-red-500;
      @apply font-bold;

      &::before,
      &::after {
        content: ' !! ';
      }
    }
  }

  ::selection,
  ::-moz-selection {
    @apply bg-goldish-400;
  }

  @font-face {
    font-family: 'RocaOne';
    font-style: normal;
    font-weight: 900;
    src: url('assets/fonts/RocaOne-Bold.woff') format('woff'),
      url('assets/fonts/RocaOne-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'InriaBold';
    font-style: bold;
    font-weight: 500;
    src: url('assets/fonts/InriaSerif-Bold.woff');
  }

  @font-face {
    font-family: 'Glacial';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/GlacialIndifference-Regular.woff');
  }
}

@layer components {
  .bind-last-vw {
    @apply max-w-[75%];
    @apply sm:max-w-[50%];
    @apply md:max-w-[375px];
    @apply lg:max-w-[640px];
    @apply xl:max-w-[768px];
    @apply 2xl:max-w-[1024px];
    /* @apply 3xl:max-w-[1280px]; */
  }
}
